.app__portfolio {
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}
.app__article_section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__article_section button {
  background: var(--secondary-color);
  padding: 0.3rem 1rem;
  color: var(--primary-color);
  border: none;
  outline: none;
  font-weight: var(--font-h-weight);
  margin: 1rem;
}
.app__article_section h1 {
  color: var(--font-color);
  font-size: 1.7rem;
}
.app__article_section p {
  margin: 1rem;
  font-size: 11px;
}
.app__grid_container {
  display: grid;
  margin: 1rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.items {
  height: 18rem;
  background: var(--primary-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
.items_card {
  position: relative;
  width: 100%;
  height: 11rem;
  overflow: hidden;
}
.items_card img {
  width: 100%;
  height: 100%;
}
.items_card:hover img {
  transform: scale(1.2);
}
.items h4 {
  padding: 1rem;
  color: var(--font-color);
  font-weight: var(--font-h-weight);
  font-size: 1rem;
}
.items p {
  padding: 1rem;
  font-size: 12px;
}
@media screen and (min-width: 450px) {
  .app__grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .app__grid_container {
    grid-template-columns: repeat(9, 1fr);
  }
  .items:nth-child(1) {
    grid-column: span 4;
  }
  .items:nth-child(2) {
    grid-column: span 3;
  }
  .items:nth-child(3) {
    grid-column: span 2;
  }
  .items:nth-child(4) {
    grid-column: span 3;
  }
  .items:nth-child(5) {
    grid-column: span 2;
  }
  .items:nth-child(6) {
    grid-column: span 4;
  }
}
