nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  flex-wrap: wrap;
  /* border: 1px solid; */
}
.app__logo {
  font-weight: var(--font-h-weight);
}
.app__contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.app__contact button {
  background: var(--shadow-color);
  padding: 0.2rem 0.6rem;
  color: var(--primary-color);
  font-weight: var(--font-n-weight);
}
.app__hamburger_span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--shadow-color);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.app__hamburger {
  font-size: 14px;
}
.app__responsive_navbar {
  position: relative;
  right: -100%;
  margin-top: 0.5rem;
  background: var(--shadow-color);
  height: calc(100vh - 3.2vh);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app__responsive_navbar li {
  font-weight: var(--font-h-weight);
  margin-top: 2rem;
  cursor: pointer;
}
.active {
  right: 0;
}
