.app__header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../assets/header.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: fill;
  color: var(--primary-color);
}
.app__header_nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.app__nav_logo {
  /* border: 1px solid; */
  font-family: var(--main-font);
  color: var(--primary-color);
  display: flex;
}

.app__nav_logo h3:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Menu Links Started */
.app__navbar_links {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-items: end;
}
.app__nav_lists {
  margin-left: 30px;
  margin-right: 10px;
  font-size: 14px;
}
.app__nav_lists a {
  text-decoration: none;
  color: var(--primary-color);
}
.app__nav_lists a:hover {
  color: var(--secondary-color);
}

/* Contact Section Started */
.app__contact_links {
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}
.app__social_links {
  margin-left: 10px;
  background: var(--shadow-color);
  color: var(--primary-color);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.app__social_icon {
  font-size: 14px;
  transform: translate(5px, 5px);
  cursor: pointer;
}
.facebook {
  font-size: 16px !important;
}
.instagram {
  font-size: 16px !important;
}
.app__social_icon:hover {
  color: var(--secondary-color);
}
.app__contact_button {
  background: var(--shadow-color);
  padding: 6px;
  font-weight: 500;
  letter-spacing: 1.3px;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-family: var(--main-font);
  margin-left: 10px;
  cursor: pointer;
}
.app__contact_button:hover {
  color: var(--secondary-color);
}
.app__icon_button {
  margin-left: 10px;
  background: var(--shadow-color);
  color: var(--primary-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: none;
}
.app__menu_icon {
  font-size: 14px;
  transform: translate(5px, 5px);
}
.app__responsive_navbar {
  display: none;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .app__header {
    background-position: center right !important;
  }
}
@media screen and (max-width: 768px) {
  .app__header {
    background-position-x: -50rem;
  }
  .app__navbar_links {
    display: none;
  }
  .app__contact_links {
    padding-right: 0;
  }
  .app__social_links {
    display: none;
  }
  .app__icon_button {
    display: inline-block;
  }
  .app__responsive_navbar {
    position: fixed;
    margin-top: 10px;
    display: block;
    background: var(--shadow-color);
    width: 100%;
    height: 100%;
    transition: all 0.3 ease-in-out;
  }

  .app__responsive_navbar_links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
    list-style: none;
    height: 70%;
    margin: auto;
  }
  .app__nav_lists {
    width: auto;
    font-family: var(--main-font);
    font-weight: 600;
    text-align: left;
    margin-left: 48%;
  }
  .app__responsive_socials_links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app__responsive_social_links {
    padding-left: 20px;
    color: var(--secondary-color);
  }
}
